@import "tailwindcss";

@import './variables.css';

@layer base {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    button {
        cursor: pointer;
        font-family: inherit;
    }
}